
/* #Portfolio Page
================================================== */
.portfolio {
    display: inline-block;
    margin-top: 136px;
    width: 100%;
    padding-top: 14%;
    padding-bottom: 14%;
    margin-bottom: 2em;
}

