
/* #Footer
================================================== */
/* #Contact
================================================== */
.contact {
    display: inline-block;
    margin-top: 150px;
    width: 100%;
    padding-bottom: 5%;
}

.contact p {
    margin-bottom: 0;
    line-height: 0.8em;
}
    
