.nav {
    display: table-cell;
    vertical-align: middle;
    padding-top: 15px;
    @media only screen and (max-width: 959px) {
        position: fixed;
        right: -10em;
        top: 0;
        width: 10em;
        height: 100%;
        z-index: 10;
        background: #000;
        transition: 0.25s ease;
    }
}

.nav.active {
    @media only screen and (max-width: 959px) {
        transform: translate(-10em, 0px);
        transition: 0.25s ease;
        -webkit-backface-transition: hidden;
    }
}

.menu-link {
    display: none;
    z-index: 10;
    @media only screen and (max-width: 959px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 22px;
        padding-right: 15px;
        transition: 0.25s ease;
    }
}

.menu-link a {
    text-decoration: none;
    font-size: 1.4em;
}

.menu-link.active {
    @media only screen and (max-width: 959px) {
        transform: translate(-7em, 0px);
        transition: 0.25s ease;
        -webkit-backface-transition: hidden;
    }
}



.nav ul {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    @media only screen and (max-width: 959px) {
        text-align: center;
        padding-top: 0px;
        padding-right: 40px;
    }
}

.nav li {
    height: 100%;
	display: inline-block;
	list-style: none;
    @media only screen and (max-width: 959px) {
        padding-top: 10%;
        
    }
}


.nav a {
    color: #000;
	display: inline-block;
	text-decoration: none;
	padding:20px;
    @media only screen and (max-width: 959px) {
        padding:0px;
        color: white;
    }
}

.nav a:hover {
    text-decoration: underline;
}

