.nav {
    display: table-cell;
    vertical-align: middle;
    padding-top: 15px;
}

.nav ul {
    text-align: right;
    padding-top: 10px;
}

.nav li {
    height: 100%;
	display: inline-block;
	list-style: none;
    @media only screen and (max-width: 959px) {
        display: block;
    }
}

.nav a {
    color: #000;
	display: inline-block;
	text-decoration: none;
	padding:20px;
    @media only screen and (max-width: 959px) {
        padding:0px;
    }
}

.nav a:hover {
    text-decoration: underline;
}

