
/* #THE GRID!
================================================== */
.contain {
    width: 87%;
    margin-left: 6.5%;
    height: auto;
}

.content {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 7%;
    height: auto;
    @media only screen and (max-width: 1000px) {
        width: 70%;
        margin-left: 15%;
    }
    @media only screen and (max-width: 600px) {
            width: 100%;
            margin-left: 0%;
    }
}

.content--left {
    width: 60%;
    padding-bottom: 7%;
    height: auto;
    @media only screen and (max-width: 1000px) {
        width: 75%;
    }
    @media only screen and (max-width: 600px) {
            width: 100%;
    }
}

.half { 
    float: left;    
    width: 50%; 
    @media only screen and (max-width: 959px) {
        width: 100%; 
        padding-bottom: 10px;
    }
}

.quarter { 
    float: left;
    width: 25%; 
    @media only screen and (max-width: 959px) {
        float: left; 
        width: 100%; 
        padding-bottom: 10px; 
    }    
}
