
 body {
 	background-color: $black;
 }

/* ===========================================
   WELCOME
   =========================================== */
.welcome {
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}

.welcome h1 {
	color: #2DC4F3;
}

.welcomeText {
	display: table-cell;
	vertical-align: middle;
	width: auto;
}

.mainContent {
	display: inline-block;
	width: 300px;
	height: auto;	
	margin-top: -40px;
}

.welcome h2 {
	margin-bottom: 4px;
}
.welcome a {
	padding: 2px 10px;
}

.welcome a:hover h2 {
	border-bottom: 4px solid #2DC4F3;
}


/* ===========================================
   ONBOARDING.html styling
   =========================================== */

.info {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.info h2 {
	color: #797A7D;
}

.info a:hover h3{
	color: #2DC4F3;
}

.floatSizeThirds {
	display: inline-block;
	width: 32%;
	border-left: 2px solid rgba(250, 250, 250, 0.15);
	border-bottom: 2px solid rgba(250, 250, 250, 0.15);
}

.floatSizeThirds:first-child,
.floatSizeThirds:nth-last-child(3) {
	border-left: medium none;
}

.floatSizeThirds:last-child, 
.floatSizeThirds:nth-last-child(2), 
.floatSizeThirds:nth-last-child(3) {
	border-bottom: medium none;
} 

.add {
	position: relative;
	top: 40px;
}

.checkbox {
	position: relative;
	top: 30px;
	margin-left: -20px;
}

.answers > li {
    display: inline-block;
    padding: 0px 100px;
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

a.choice:hover h2 {
	border-bottom: 4px solid #2DC4F3;
}

a.currentlyActive h2{
	border-bottom: 4px solid #2DC4F3;
}

.who {
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.password {
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 100px; 
}

.done {
	display: none;
}

.done.visible {
	display: block;
}
/* ===========================================
   Main Styling 
   =========================================== */

.tv {
	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: $black;
}



.header {
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.tvHeader {
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 125px;
}

.user {
	float: left;
	width: 20%;
	height: auto;
	text-align: center;
}

.search {
	float:left;
	width: 60%;
	height: auto;
	text-align: center;
}

.settings {
	float:left;
	width: 20%;
	height: auto;
	text-align: center;
}

/* ===========================================
   SEARCH RESULTS
   =========================================== */
.breathingRoom {
	padding: 4%;	
}

.searchResults {
	display: none;
	position: relative;
	top: -100%;
	left: 0;
	right: 0;
    transform: translate(0px, -100%);
	transition: 3s ease;
}

.searchResults.active {
	display: block;
    transform: translate(0px, 100%);
	transition: 3s ease;
}


.borderTop {
	border-top: 3px solid rgba(250, 250, 250, 0.15);
}

.right {
	float: right;
}

img.movieTitle {
	width: 300px;
	height: auto;
}
img.searchLogo {
	width: 110px;
	height: auto;
	margin-top: 1%;
}
/* ===========================================
   APPLICATIONS 
   =========================================== */
.apps {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 50px;
}

.apps a {
	padding: 30% 5%;
}

.apps a:hover img.appLogo {
	width: 190px;
	height: auto;
	transition: 0.2s ease;
}

.floatSize.active,
.floatSize:last-child.active,
.floatSize:nth-last-child(2).active,
.floatSize:nth-last-child(3).active,
.floatSize:nth-last-child(4).active {
	border-bottom: 4px solid #2DC4F3;
	margin-bottom: -4px;
}

.floatSize {
	display: inline-block;
	width: 24.2%;
	border-left: 2px solid rgba(250, 250, 250, 0.15);
	border-bottom: 2px solid rgba(250, 250, 250, 0.15);
}

.floatSize:first-child, .floatSize:nth-last-child(4) {
    border-left: medium none;
}

.floatSize:nth-last-child(4), 
.floatSize:nth-last-child(3), 
.floatSize:nth-last-child(2),
.floatSize:last-child {
	border-bottom: medium none;
	border-right: medium none;
}

.grid-unit {
	display: table-cell;
	vertical-align: middle;
	height: 300px;
	width: 25%;
}


img.appLogo {
	width: 175px; 
	height: auto;
	transition: 0.2s ease;
}



