html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, div {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* #TYPOGRAPHY 
================================================== */
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	color: #333;
	font: normal 100%/1.4em "actor", georgia, serif;
	-webkit-font-smoothing: subpixel-antialiased;
    word-wrap: break-word;
}

.indent {
    text-indent: 1em;
    margin-bottom: 1em;
}

strong {
  font-weight: bold;
  line-height: 1;
}

em {
  font-style: italic;
  font-size: 1em;
  color: #989898;
  color: rgba(0,0,0,0.35)
}

/* #TYPOGRAPHY HEADINGS
================================================== */
h1, h2, h3, h4, h5 {
	color: #000;
	font: 2em/2.5em "actor", georgia, sans-serif;
	font-family: "actor", sans-serif;
}

h1 { 
    font-size: 2.4em;
    line-height: 1em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.08em; 
    line-height: 2.0em;
}

h5 {
	font-size: 1.1em;
}

small, .footer address {
    font-size: 0.7em;
}
 
/* #ALL STYLES
================================================== */

a[role=button] {
    cursor: pointer;
}

html {
	background: #FFFFFF;
}

img {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: 400px;
}

a {
	text-decoration: none;
	color: #000;
    -webkit-transition: color 400ms ease;
       -moz-transition: color 400ms ease;
         -o-transition: color 400ms ease;
        -ms-transition: color 400ms ease;
            transition: color 400ms ease;
}

a:hover, a:focus {
    color: #0054A6; 
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0%    {   opacity: 0;             
            -webkit-transform: translate3d(-3000px, 0, 0); 
               -moz-transform: translate3d(-3000px, 0, 0); 
                    transform: translate3d(-3000px, 0, 0); }

  60%   {   opacity: 1;  
            -webkit-transform: translate3d(25px, 0, 0); 
               -moz-transform: translate3d(25px, 0, 0); 
                    transform: translate3d(25px, 0, 0);  }

  75%   {   -webkit-transform: translate3d(-10px, 0, 0); 
               -moz-transform: translate3d(-10px, 0, 0); 
                    transform: translate3d(-10px, 0, 0); }


  90%   {   -webkit-transform: translate3d(5px, 0, 0); 
               -moz-transform: translate3d(5px, 0, 0); 
                    transform: translate3d(5px, 0, 0); }

  100%  {   -webkit-transform: none; 
               -moz-transform: none;
                    transform: none; }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

    @media only screen and (max-width: 959px) {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }
    }

#map {
    width: 100%;
    max-width: 1400px;
    height: 500px;
    border: 2px solid #000;
}

.popUp img {
    width: 40%;
    height: auto;
}
/* #HEADER TOP NAVIGATION
================================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    z-index:999;
}

.logo {
    position: fixed;
    top: 0;
    left: 45px;
    height: 80px;
    z-index: 1001;
    -webkit-transition: all 500ms ease;
       -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
            transition: all 500ms ease;
}
    @media only screen and (max-width: 959px) {
        .logo {
            position: fixed;
            top: 0;
            left: 7%;
            width: 50%;
            height: 80px;
            z-index: 1001;
        }
    }

.logo img {
    width: 200px;
    height: auto;
}

    @media only screen and (max-width: 959px) {
        .logo img {
            width: 140px;
            height: auto;
        }
    }

.logo-img {
    position: absolute;
    top: 0;
    left: 180px;
    padding-top: 12px;
    -webkit-transition: all 500ms ease;
       -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
            transition: all 500ms ease;
}

    @media only screen and (max-width: 959px) {
        .logo-img {
            display: none;
        }
    }

.logo:hover .logo-img {
    left: 240px;
}

.letters {
    position: absolute;
    top: 0;
    width: 200px;
    padding-top: 30px;
}

.nav {
	position: fixed;
	top: 0;
    right: 0;
	width: 70%;
	height: 80px;
	text-align: center;
    z-index: 999;
}
    @media only screen and (max-width: 959px) {
        .nav {
            position: fixed;
            top: 80px;
            bottom: 0;
            width: 100%;
            right: -100%;
            height: 100%;
            z-index: 999;
            overflow:auto;
            background: #000;
             -webkit-transform: translate(0px, 0px);
                -moz-transform: translate(0px, 0px);
                  -o-transform: translate(0px, 0px);
                 -ms-transform: translate(0px, 0px);
                     transform: translate(0px, 0px);
            -webkit-transition: 0.2s ease;
               -moz-transition: 0.2s ease;
                 -o-transition: 0.2s ease;
                    transition: 0.2s ease;
            -webkit-backface-visibility: hidden;            
        }

        .nav.active {
            -webkit-transform: translate(-100%, 0px);
               -moz-transform: translate(-100%, 0px);
                 -o-transform: translate(-100%, 0px);
                -ms-transform: translate(-100%, 0px);
                    transform: translate(-100%, 0px);
            -webkit-backface-visibility: hidden; 
        }
    }

.nav ul {
    text-align: right;
    height: 80px;
    padding-right: 20px;
}
    
    @media only screen and (max-width: 959px) {
        .nav ul {
            text-align: center;
            height: 80px;
        }
    }

.nav li {
    height: 100%;
	display: inline-block;
	list-style: none;
}

    @media only screen and (max-width: 959px) {
        .nav li {
            width: 100%;
        }

        .nav li:last-child {
            padding-bottom: 4em;
        }
    }
    
.nav a {
	display: inline-block;
	text-decoration: none;
	padding:20px;
}

    @media only screen and (max-width: 1100px) {
        .nav a {
	        padding-top:20px;
	        padding-bottom:20px;
	        padding-right: 10px;
	        padding-left: 10px;
        }
    }

    @media only screen and (max-width: 959px) {
        .nav a {
            width: 95%;
        }
    }

.nav a:hover h4 {
    color: #0054A6;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
}

    @media only screen and (max-width: 959px) {
        .nav a h4 {
            color: #FAFAFA;
        }
    }

.menu-link {
    position: fixed;
	top: 0;
    right: 0;
	width: 20px;
	height: 20px;
    padding: 10px;
    margin-right: 30px;
    margin-top: 20px;
    border: 2px solid #000;
    z-index: 999;
}

/* #MAIN IMAGE 
================================================== */
.cover-photo {
    content: "";
    position: absolute;
    top: 80px;
    bottom: 10%;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); 
}

    @media only screen and (max-width: 1025px) {
        .cover-photo {
            background-attachment: scroll;
        }
    }

.index-cover            { background-image: url(../images/008.jpg); }
.services-cover         { background-image: url(../images/009.jpg); }
.upgrades-cover         { background-image: url(../images/016.jpg); }
.facility-cover         { background-image: url(../images/020.jpg); background-position: 50% 100%; }
.staff-cover            { background-image: url(../images/007.jpg); background-position: 50% 100% }

.overlay {
    position: absolute; 
    top: 5%;
    width: 50%;
    display: table;
}

    @media only screen and (max-width: 959px) {
        .overlay {
            width: 60%;
            height: 40%;
        }
    }
    
    @media only screen and (max-width: 700px) {
        .overlay {
            width: 80%;
            height: 50%;
        }
    }

.title {
    display: table-cell;
    vertical-align: middle;
    background: #FFFFFF;
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 5%;
}

.title--name {
    padding-bottom: 1%;
}

span .fa {
    padding-left: 5%;
    color: #F802FB; 
    padding-right: 1%;
}

/* # LAYOUT STRUCTURE // GRID 
================================================== */
.contain {
    position: relative;
  	width: 80%;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 1420px;
    text-align: center;
}
    @media only screen and (max-width: 959px) {
        .contain {
  	        width: 90%;
            text-align: center;
        }
    }

.content {
	width: 100%;
    padding-top: 4em;
	padding-bottom: 4em;
    margin-bottom: 4em;
}
    
    @media only screen and (max-width: 959px) {
        .content {
            width: 100%;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }
    }

.footer-content {
	width: 100%;
    padding-top: 4em;
	padding-bottom: 4em;
}

.content:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.left               { text-align: left; }
.right              { text-align: right;}
.one                { float: left; width: 33.3%; }
.two                { float: left; width: 66.66%; }
.two-right          { float: right; width: 66.33%; }
.half-right         { float: right; width: 50%; }
.three              { float: left; width: 99.5%; }
.padding            { padding-left: 1.5em; padding-right: 1.5em; }
.breath             { margin-bottom:  1em }

    @media only screen and (max-width: 959px) {
        .padding {
            padding-left: 1em; 
            padding-right: 1em; 
        }
    }
    
    @media only screen and (max-width: 700px) {
        .padding {
            padding-left: 0.5em; 
            padding-right: 0.5em; 
        }
    }
    
.center-words {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
    
    @media only screen and (max-width: 959px) {
        .center-words {
            width: 90%;
        }
    }

    @media only screen and (max-width: 700px) {
        .center-words {
            width: 98%;
        }
    }

/* # CONTENT  // BELOW MAIN IMAGE
================================================== */
.below {
	position: absolute;
	top: 95%;
	left: 0px;
	right: 0px;
}

    @media only screen and (max-width: 959px) {
        .below {
            position: absolute;
            top: 90%;
        }
    }

section:after, 
.maintenance:after,
.pre-purchase:after,
.facility:after {
  content: "";
  display: block;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

    @media only screen and (max-width: 959px) {
        section:after, 
        .maintenance:after,
        .pre-purchase:after,
        .facility:after {
            background-attachment: scroll;
            height: 300px;
        }
    }

.about:after            { background-image: url(../images/002.jpg); }
.services:after         { background-image: url(../images/011.jpg); }
.facility:after         { background-image: url(../images/019.jpg); background-position: 50% 100%; }
.contact:after          { height: 0px; }

/* #Page Styles
================================================== */
.about, .services-page {
	margin-top: 100px;
	margin-bottom: 100px;
}

.secondary-page {
    position: absolute;
    top: 80px;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.title-photo {
    padding-top: 4em;
    padding-bottom: 4em;
}

.sub-menu {
    height: auto;
    border: 3px solid #eee;
}

.sub-menu ul {
    text-align: center;
}

.sub-menu li {
	list-style: none;
    height: 50px;
    padding: 10px;
}

.sub-menu li:nth-child(2n+1) {
}

.sub-menu li:hover {
    background: #000;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;}

.sub-menu h4 {
    height: 50px;
	text-decoration: none;
}

.sub-menu li:hover h4 {
    color: #FAFAFA;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
}

.work-title {
    padding-left: 2em;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 3px solid #eee;
    
}

/* #FOOTER
================================================== */
.footer {
	background: #000000;
    height: 300px;
}

.footer p, .footer small, .footer address {
	color: #F7F7F7;
}

.footer-logo img {
    width: 120px; 
    height: auto;
}

.bottom-nav li {
}

.bottom-nav a small {
    color: #F7F7F7;
}

.bottom-nav a:hover small {
    color: #F802FB; 
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
}

.social-nav {
    margin-top: 4em;
}

.social-nav li {
    display: inline-block;
    padding: 10px;
}

.footer span .fa {
    color: #F802FB; 
}

a .fa-twitter:hover {
    color: #55ACEE;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
}

a .fa-facebook-square:hover {
    color: #3B5998;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
}

/* #MEDIA QUERIES - MOBILE
================================================== */
@media only screen and (max-width: 959px) {


.one     { float: left; width: 100%; }
.two     { float: left; width: 100%; }
.three   { float: left; width: 100%; }
.two-right { float: right; width: 100%; }

#map {
    height: 300px;
}
}



