
/* #Header
================================================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 87%;
    margin-left: 6.5%;
    height: 200px;
    display: table;
    @media only screen and (max-width: 959px) {
        height: 110px;
    }
}

.logo {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    height: 100%;
    @media only screen and (max-width: 959px) {
        width: 20%;
        height: 100%;
        padding-top: 15px;
    }
}

.logo img {
    float: left;
    width: 110px;
    height: auto;
    @media only screen and (max-width: 959px) {
        float: left;
        width: 87px;
        height: auto;
    }
}
