
/* Variables
   ==================================== */
$base-spacing: 1em;
$base-transition: .25s;
$block-padding: 3em;

/* Colors
   ==================================== */
$color-main: #E3E3E3;
$color-secondary: #CCCCCC;

$white: #FFFFFF;
$black: #000000;

$color-text: #f22b11;
$color-link: #fff;
$color-link--hover: darken($color-link, 10%);

$color-button-primary: #f22b11;
$color-button-primary-hover: darken($color-button-primary, 5%);
$color-button-primary-text: #ffe37a;

$color-facebook: #03539e;
$color-twitter: #35ccff;
$color-linkedin: #217bc1;

